.forecast h3 {
  margin-bottom: 10px;
  padding: 0 10px;
}
.forecast .forecast-days {
  background-color: var(--surface);
  border-radius: var(--radius-28);
  color: var(--on-surface);
  padding: 10px 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forecast-days .day-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day-details .temp {
  display: flex;
  align-items: center;
  gap: 10px;
}

.day-details .temp img {
  width: 25px;
}

.day-details .temp span {
  font-size: var(--body-1);
}
.day-details .date,
.day-details .day {
  color: var(--on-surface-variant);
}

.day-details .day {
  width: 80px; /* Set a fixed width for consistency */
  /* text-align: left; Align text to the left */
}

.day-details .date {
  width: 50px; /* Optional: Set a fixed width for the date */
  /* text-align: right; Align text to the right if needed */
}
