.home {
  margin-top: 20px;
}

.home .container {
  display: flex;
  /* align-items: center; */
  gap: 100px;
}

.home .container aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20%;
}

.home .container main {
  width: 80%;
}