.footer {
    width: 100%;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer p {
    font-size: var(--title-1);
}

.footer p a {
    color: var(--on-surface-variant);
    font-size: 22px;
}

.footer .openweather-rights {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: var(--title-2);
}

.footer span a {
    color: var(--on-surface-variant);
}