.today .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .today-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 15px;
  width: 100%;
}

.container .today-content span {
  display: block;
}

.today-content .today-details {
  background-color: var(--surface);
  width: calc(100% / 9);
  padding: 15px 20px;
  border-radius: var(--radius-16);
}

.today-content .today-details img {
  width: 60px;
}

/* Responsive  */

@media (max-width: 1024px) {
  .today-content .today-details {
    width: calc(100% / 6);
  }
}

@media (max-width: 900px) {
  .container .today-content {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .today-content .today-details {
    width: calc(100% / 4);
  }
}

@media (max-width: 550px) {
  .today-content .today-details {
    width: 100%;
  }

  .today-content .today-details img {
    width: 50px;
  }
}
